@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Syncfusion.EJ2
@using ProyectoAlmaInicio.Models;

<div class="main-content e-responsive" id="main-text">
    <div class="sidebar-content" style="display:flow-root; min-height:600px;">

        <h4 class="h4">PRUEBA</h4>
    </div>
</div>