@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Syncfusion.EJ2
@using ProyectoAlmaInicio.Models;

<div class="main-content e-responsive" id="main-text">
    <div class="sidebar-content" style="display:flow-root; min-height:600px;">

        <h4 class="h4 container">PREGUNTAS FRECUENTES</h4>

        @{
            var template = "<div class='e-list-wrapper e-list-avatar'>"
                                + "<span class='e-list-content'>${name}</span>"
                            + "</div>";

        }

        <div class="col-lg-12 control-section">
            <div id="target" class="control_wrapper">
                <div>
                    @Html.EJS().Splitter("splitter").PaneSettings(paneItem =>
                    {
                        paneItem.Size("25%").Min("15%").ContentTemplate(@<div>
                                <div>
                                    @Html.EJS().ListView("ui-list").DataSource((IEnumerable<object>)ViewBag.DataSource).CssClass("e-list-template").ActionComplete("onComplete").Select("onSelect").Height("289px").Template(template).Render()
                                </div>
                            </div>).Add();

                          paneItem.Size("75%").Min("55%").ContentTemplate(@<div>
                        <div style="margin: 20px 20px 20px 20px" id="content"></div>
                    </div>).Add();

              }).Height("100%").Width("100%").Render()
                </div>
            </div>
        </div>

    </div>
</div>


<style>
    #splitter .e-avatar.e-avatar-xlarge {
        font-size: 22px;
    }

    .header-image {
        text-align: center;
        margin-top: 7px;
    }

    .e-custom-card .e-avatar {
        font-size: 40px;
        position: absolute;
        top: calc(0% - 1.5em);
        left: calc(50% - 1.5em);
        box-shadow: 0 16px 28px -8px rgba(0, 0, 0, .36), 0 4px 15px 0 rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
    }

    /* ListView template customization */

    #ui-list.e-listview .showUI {
        display: flex;
    }

    #ui-list.e-listview .hideUI {
        display: none;
    }

    #ui-list.e-listview .e-list-item {
        padding: 3px 0;
    }

    #ui-list.e-listview .R {
        background: lightgrey;
    }

    #ui-list.e-listview .M {
        background: lightblue;
    }

    .highcontrast #ui-list.e-listview .e-list-item.e-active {
        background: #ffd939;
        color: #000000;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
        width: calc(100% - 20px);
        margin: 10px;
    }

        table th,
        table td {
            font-weight: normal;
            padding: 5px;
            text-align: left;
            border: 1px solid #ddd;
        }

    .e-bold {
        font-weight: 550;
    }

    .profile-name {
        font-weight: 550;
        font-size: 14px;
        text-align: center;
    }

    .h4 {
        font-family: Gotham Medium !important;
        color: black !important;
    }

    .texto {
        font-family: Gotham Medium !important;
        text-align: justify;
        white-space: pre-wrap;
        margin-right: 40px;
        margin-top: 15px;
    }

    .texto2 {
        font-family: Gotham Light !important;
        text-align: justify;
        white-space: pre-wrap;
        margin-right: 40px;
        margin-top: 15px;
    }
</style>

<script type="text/javascript">

    function onComplete() {
        this.selectItem(this.dataSource[0]);
    }

    // CATEGORIA GENERAL
    var cat1_preg1 = '<p class="texto">La información proporcionada por Liventus a través de esta plataforma, ¿La puedo utilizar para realizar claims respecto de la carga al arribo?</p>';
    var cat1_resp1 = '<p class="texto2">No. Se debe seguir el conducto regular indicado en el procedimiento "SEGURO LIVENTUS: Claim Procedure" con la Naviera. La información de esta plataforma es para fines estadísticos, documentales y/o de análisis de condiciones durante servicio. Para reclamos se deben seguir los procedimientos habituales establecidos por las navieras. Para mayor información, no dude en comunicarse con su contacto Comercial Liventus.</p>';

    var cat1_preg2 = '<p class="texto">¿Qué se hace con los sensores en destino?</p>';
    var cat1_resp2 = '<p class="texto2">Todos los sensores y equipos que aseguran la conectividad que ALMA requiere son recuperados en destino, asegurando su disposición final de acuerdo a las reglas sanitarias en vigor. Por lo tanto, el recibidor no se debe preocupar de retirarlo.</p>';

    var cat1_preg3 = '<p class="texto">¿La naviera tiene acceso a esta misma información?</p>';
    var cat1_resp3 = '<p class="texto2">No, esta información es sólo para usuarios. Las navieras acceden sólo a las lecturas en destino previa solicitud expresa.</p>';

    var cat1_preg4 = '<p class="texto">¿Cualquier servicio/commodity podría eventualmente utilizar la plataforma ALMA para disponer de las lecturas?</p>';
    var cat1_resp4 = '<p class="texto2">Si, ALMA puede utilizarse para cualquier commodity, sólo si es servicio AC Liventus, destino, naviera, etc.</p>';

    // CATEGORIA FUNCIONALIDADES
    var cat2_preg1 = '<p class="texto">Quiero descargar los datos de mis sensores a un Excel. ¿Puedo hacerlo?</p>';
    var cat2_resp1 = '<p class="texto2">Hoy no tenemos habilitada esta funcionalidad en ALMA, la cual se encuentra dentro de nuestro backlog de desarrollo para un futuro lanzamiento.</p>';

    // CATEGORIA GRAFICOS
    var cat3_preg1 = '<p class="texto">¿Por qué mi gráfico de CO2 muestra valores de 0% o valores muy altos durante el viaje?</p>';
    var cat3_resp1 = '<img width="90%" src="../images/point_outlier.png"><p class="texto2">Dentro del servicio de atmósfera controlada que realiza Liventus, el servicio Alma propone disponibilizar la información registrada en el transcurso del viaje con el objeto de permitirle al usuario monitorear la evolución de distintos parámetros relevantes para la carga. Para ello el servicio se apoya en las lecturas realizadas a miles de kilómetros de distancia lo cual podría tener interferencias y/o distorsiones dado los desafíos técnicos y logísticos que se enfrentan dentro del transporte. Estas anomalías en las lecturas no representan un riesgo real a la calidad y condición de los productos hortofrutícolas, dado que se trata de eventos aislados. Estos eventos no reflejan movimientos reales en la composición de gases al interior del viaje durante el servicio.</p><p class="texto2">No afecta el servicio de atmósfera controlada Liventus. De todas maneras haznos saber cómo llega tu producto a destino.</p>';

    var cat3_preg2 = '<p class="texto">¿Podré ver lecturas de mi contenedor durante el tránsito?</p>';
    var cat3_resp2 = '<p class="texto2">Utilizamos sensores con tecnología 2G/3G, lo que significa que necesitan conectarse con antenas celulares para poder enviar la información capturada a nuestros servidores de ALMA. Dada esta situación, solo se obtendrán lecturas cuando pase por tierra o algún puerto intermedio (ej: Panamá, Guayaquil, Cartagena, etc) y no podrá enviar lecturas mientras esté en mar abierto.</p><p class="texto2">De todas maneras, esto no significa que se perderá información, dado que nuestros sensores cuentan con memoria interna en la cual va acumulando información hasta poder conectarse y enviarla para su visualización. En cualquier caso, las lecturas definitivas de gases se deben solicitar a su contacto comercial al finalizar el viaje como es la práctica habitual.</p>';

    var cat3_preg3 = '<p class="texto">¿Por qué no se visualiza la lectura de O2? ¿Se va controlando/registrando durante el viaje?</p>';
    var cat3_resp3 = '<p class="texto2">No se visualiza porque nuestra tecnología actual de monitoreo solo nos permite acceder a la lectura de CO2, ya que es el gas con mayor incidencia en la reducción de la tasa de respiración del commodity. Liventus es experto en la gestión del co2.</p><p class="texto2">Para sumar el O2 requiere un desarrollo complejo que se proyecta a futuro. Esto no significa que no lo controlemos, dado que todo queda almacenado en el controller y en destino se realiza descarga completa.</p>';

    var cat3_preg4 = '<p class="texto">¿Qué debo hacer si un gráfico no se visualiza?</p>';
    var cat3_resp4 = '<p class="texto2">Si un gráfico no se visualiza debe hacerle la consulta a su contacto comercial habitual. Normalmente estos eventos responden a fallas en la conexión entre el dispositivo que registra datos y la señal celular más próxima. En cualquier caso, siempre se podrá obtener en destino el registro completo.</p>';

    // CATEGORIA CONFIGURACION
    var cat4_preg1 = '<p class="texto">¿Cómo configurar mis notificaciones?</p>';
    var cat4_resp1 = '<video id="video1" controls src="../videos/videoconfig.mp4" type="video/mp4" width="100%">';

    function onSelect(e) {
        var listid = e.item.dataset.uid;
        switch (listid) {
            case '1':
                document.getElementById('content').innerHTML = '<div id="Accordion_preguntas1"></div>';
                var accordion = new ej.navigations.Accordion({
                    items: [
                        { header: cat1_preg1, expanded: false, content: cat1_resp1 },
                        { header: cat1_preg2, expanded: false, content: cat1_resp2 },
                        { header: cat1_preg3, expanded: false, content: cat1_resp3 },
                        { header: cat1_preg4, expanded: false, content: cat1_resp4 },
                    ]
                });
                accordion.appendTo('#Accordion_preguntas1');
                break;

            case '2':
                document.getElementById('content').innerHTML = '<div id="Accordion_preguntas2"></div>';
                var accordion = new ej.navigations.Accordion({
                    items: [
                        { header: cat3_preg1, expanded: false, content: cat3_resp1 },
                        { header: cat3_preg2, expanded: false, content: cat3_resp2 },
                        { header: cat3_preg3, expanded: false, content: cat3_resp3 },
                        { header: cat3_preg4, expanded: false, content: cat3_resp4 },
                    ]
                });
                accordion.appendTo('#Accordion_preguntas2');
                break;

            case '3':
                document.getElementById('content').innerHTML = '<div id="Accordion_preguntas3"></div>';
                var accordion = new ej.navigations.Accordion({
                    items: [
                        { header: cat4_preg1, expanded: false, content: cat4_resp1 },
                    ]
                });
                accordion.appendTo('#Accordion_preguntas3');
                break;
        }
    }
</script>
